<div class="card">
  <div class="card-header"></div>
  <div class="table-responsive">
    <table class="table align-middle mb-0">
      <thead>
        <tr>
          <th>Sujet</th>
          <th>Description</th>
          <th>Date Début</th>
          <th>Date Fin</th>
          <th>Etat</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stage of stages">
          <td>{{ stage.sujet_stage }}</td>
          <td>{{ stage.desc_stage }}</td>
          <td>{{ stage.date_deb }}</td>
          <td>{{ stage.date_fin }}</td>

          <ng-template #acc>Acceptée</ng-template>
          <ng-template #ref>Refusée</ng-template>
          <td>
            <p *ngIf="stage.etat_proposition==='1';then acc;"></p>
            <p *ngIf="stage.etat_proposition==='0';then ref;"></p>
          </td>
          <td>
            <button type="button" class="btn btn-info btn-icon mr-1 mb-1">
              <i class="icon icon-arrows-sign-up"></i>
              <span>Modifier</span>
            </button>
            <span>
              <button type="button" class="btn btn-danger btn-icon mr-1 mb-1" (click)="deleteStage()">
                <i class="icon icon-basic-ban"></i>
                <span>Annuler</span>
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>