<div class="wrapper">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-sm-4">
              <figure>
                <div>
                  <div class="avatar-status bg-red">
                    <img src="assets/images/user.jpg" style=" height:100px;width:auto; max-width:100px;" alt="" class="rounded-circle">
                  </div>
                </div>
              </figure>
            </div>
            <div class="col">
              <h4 class="ma-0">
                <span class="fw-400">{{session?.prenom}}</span>
                <b>{{session?.nom}}</b>
              </h4>
              <br>
              <div  *ngIf="compte == 'etudiant' || compte == 'enseignant' || compte == 'admin'" class="row">
                <div class="mr-3">
                  <div class="widget-icon rounded-circle bg-red text-white icon icon-basic-mail"></div>
                </div>
                <div class="mr-3">
                  <div class="ff-headers text-color">E-mail</div>
                  <div>{{session?.email}}</div>
                </div>
              </div>
              <br>
              <div *ngIf="compte === 'etudiant'" class="row">
                <div class="mr-3">
                  <div class="widget-icon rounded-circle bg-cyan text-white icon icon-basic-calendar"></div>
                </div>
                <div class="mr-3">
                  <div class="ff-headers text-color">Date de naissance</div>
                  <div>{{session?.date_naiss}} </div>
                </div> 
                <br>
              </div>
              <div *ngIf="compte === 'enseignant'" class="row">
                <div class="mr-3">
                  <div class="widget-icon rounded-circle bg-cyan text-white icon icon-basic-calendar"></div>
                </div>
                <div class="mr-3">
                  <div class="ff-headers text-color">Grade</div>
                  <div>{{session?.grade}} </div>
                </div> 
                <br>
              </div>
              <br *ngIf="compte === 'enseignant' || compte ==='etudiant'">
              <div class="row">
                <div class="mr-3">
                  <div class="widget-icon rounded-circle bg-green text-white icon icon-basic-postcard"></div>
                </div>
                <div class="mr-3">
                  <div class="ff-headers text-color">Numéro CIN</div>
                  <div>{{session?.cin}}</div>
                </div>
              </div>
              <br>
              <div *ngIf="compte == 'etudiant' || compte == 'enseignant' || compte == 'admin'" class="row">
                <div class="mr-3">
                  <div class="widget-icon rounded-circle bg-pink text-white icon  icon-basic-smartphone"></div>
                </div>
                <div class="mr-3">
                  <div class="ff-headers text-color">Numéro de téléphone</div>
                  <div>{{session?.tel}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <ngb-tabset class="card-tab">
          <ngb-tab *ngIf="compte === 'etudiant'" title="Informations Etudes">
            <ng-template ngbTabContent>
              <div>
                <div class="card">
                  <div class="card-header">
                    <div class="card-header-text">
                      <div class="row">
                        <div class="mr-3">
                          <div class="widget-icon rounded-circle bg-green text-white icon icon-basic-book-pen"></div>
                        </div>
                        <div class="mr-3">
                          <div class="ff-headers text-color">Cycle d'étude</div>
                          <div style="color: black;">{{session?.cycle_etude}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <div class="card-header-text">
                      <div class="row">
                        <div class="mr-3">
                          <div class="widget-icon rounded-circle bg-blue text-white icon icon-basic-gear"></div>
                        </div>
                        <div class="mr-3">
                          <div class="ff-headers text-color">Niveau d'étude</div>
                          <div style="color: black;">{{session?.niveau_etude}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <div class="card-header-text">
                      <div class="row">
                        <div class="mr-3">
                          <div class="widget-icon rounded-circle bg-red text-white icon icon-basic-postcard"></div>
                        </div>
                        <div class="mr-3">
                          <div class="ff-headers text-color">Spécilatité</div>
                          <div style="color: black;">{{session?.specialite}} </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab *ngIf="compte =='entreprise' || compte =='entreprise_N'" title="Informations Entreprise">
            <ng-template ngbTabContent>
              <div>
                <div class="card">
                  <div class="card-header">
                    <div class="card-header-text">
                      <div class="row">
                        <div class="mr-3">
                          <div class="widget-icon rounded-circle bg-green text-white icon icon-basic-flag2"></div>
                        </div>
                        <div class="mr-3">
                          <div class="ff-headers text-color">Nom d'entreprise</div>
                          <div style="color: black;">{{session2?.nom_ent}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <div class="card-header-text">
                      <div class="row">
                        <div class="mr-3">
                          <div class="widget-icon rounded-circle bg-blue text-white icon icon-basic-smartphone"></div>
                        </div>
                        <div class="mr-3">
                          <div class="ff-headers text-color">Téléphone</div>
                          <div style="color: black;">{{session2?.tel_ent}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <div class="card-header-text">
                      <div class="row">
                        <div class="mr-3">
                          <div class="widget-icon rounded-circle bg-red text-white icon icon-basic-mail"></div>
                        </div>
                        <div class="mr-3">
                          <div class="ff-headers text-color">E-mail</div>
                          <div style="color: black;">{{session2?.email}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <div class="card-header-text">
                      <div class="row">
                        <div class="mr-3">
                          <div class="widget-icon rounded-circle bg-pink text-white icon icon-basic-geolocalize-05"></div>
                        </div>
                        <div class="mr-3">
                          <div class="ff-headers text-color">Adresse</div>
                          <div style="color: black;">{{session2?.adresse_ent}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Paramètres de compte">
            <ng-template ngbTabContent>
              <div class="card">
                <div class="card-block">
                  <form [formGroup]="modif_pass" (ngSubmit)="onModif_pass(modif_pass.value)">
                    <div class="row mb-2">
                      <div class="col">
                        <div class="d-flex justify-content-start">
                          <span class="mr-auto">Modifier mot de passe</span>
                          <strong>
                            <input type="password" class="form-control" placeholder="********" required formControlName="pass" />
                          </strong>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col">
                        <div class="d-flex justify-content-start">
                          <span class="mr-auto">Confirmer mot de passe</span>
                          <strong>
                            <input type="password" class="form-control" placeholder="********" required formControlName="comf_pass" />
                          </strong>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row mb-2">
                      <div class="col">
                        <div class="d-flex justify-content-start">
                          <strong>
                            <button class="btn btn-danger" type="submit">Modifier mot de passe</button>
                          </strong>
                        </div>
                      </div>
                    </div>
                  </form>
                  <div class="row mb-2">
                    <div class="col">
                      <div class="d-flex justify-content-start">
                        <button class="btn btn-info" (click)="open(content)">Modifier Informations compte</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h6 class="modal-title text-uppercase">Modifier Informations Compte</h6>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form *ngIf="compte==='etudiant'" [formGroup]="EtudiantForm" (ngSubmit)="submitEtudiant(EtudiantForm.value);d('Cross click')">
          <div class="row">
            <div class="card  col-md-4"> Informations Générales
              <br>
              <br>
              <fieldset class="form-group">
                <label for="nom">
                  Votre Nom
                </label>
                <input type="text" class="form-control" placeholder="Nom" required formControlName="nom" [(ngModel)]='session2.nom'/>
              </fieldset>
              <fieldset class="form-group">
                <label for="prenom">
                  Votre Prénom
                </label>
                <input type="text" class="form-control" placeholder="Prénom" required formControlName="prenom" [(ngModel)]="session2.prenom" />
              </fieldset>
              <fieldset class="form-group">
                <label for="cin">
                  Votre CIN
                </label>
                <input type="text" class="form-control" placeholder="CIN" required formControlName="cin" [(ngModel)]="session2.cin"/>
              </fieldset>
            <fieldset class="form-group">
              <label for="nom_ent">
                Votre Téléphone
              </label>
              <input type="tel" class="form-control" placeholder="Téléphone" formControlName="tel" [(ngModel)]="session2.tel"/>
            </fieldset>
              <fieldset class="form-group">
                <label for="date_naiss">
                  Votre Date de Naissance
                </label>
                <div>
                  <div>
                    <input class="form-control" type="date" value="1991-01-01" id="example-date-input" required formControlName="dateNess" [(ngModel)]="session2.date_naiss">
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="col-md-4"> Informations Etudes
              <br>
              <br>
              <fieldset class="form-group">
                <label for="cy_etud">
                  Votre cycle d'études
                </label>
                <div>
                  <select class="form-control" name="cy_etud" required formControlName="cy_etud" [(ngModel)]="session2.cycle_etude">
                    <option value="Licence" > Licence </option>
                    <option value="Master"> Master </option>
                    <option value="Ingénieur"> Ingénieur </option>
                  </select>
                </div>
              </fieldset>
              <fieldset class="form-group">
                <label for="spec">
                  Votre spécialité
                </label>
                <div>
                  <select class="form-control" name="spec" required formControlName="spec" [(ngModel)]="session2.specialite">
                    <option disabled>---- Spécialité ----</option>
                    <option value="Licence Appliquée Technologie Multimédia et Web">Licence Appliquée Technologie Multimédia et Web</option>
                    <option value="Licence Fondamentale Informatique et Multimédia">Licence Fondamentale Informatique et Multimédia</option>

                    <option value="Master de Recherche">Master de Recherche</option>
                    
                    <option value="ingénieur">ingénieur</option>
                  </select>
                </div>
              </fieldset>
              <fieldset class="form-group">
                <label for="niv_etud">
                  Votre Niveau d'études
                </label>
                <div>
                  <select class="form-control" name="niv_etud" required formControlName="niv_etud" [(ngModel)]="session2.niveau_etude">
                    <option disabled>---- Niveau d'études ----</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>
              </fieldset>
            </div>
            <div class="col-md-4"> Informations Compte
              <br>
              <br>
              <fieldset class="form-group">
                <label for="email">
                  Votre Email
                </label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon">@</div>
                  <input type="email" class="form-control" placeholder="email" required formControlName="email" [(ngModel)]="session2.email"/>
                </div>
              </fieldset>
              <input type="hidden" class="form-control" formControlName="id" [(ngModel)]="session2.id"/>              
                <button class="btn btn-primary" type="submit">Modifier</button>
              </div>
            </div>
          </form>
    
    <form *ngIf="compte==='enseignant'" [formGroup]="EnseignantForm" (ngSubmit)="submitEnseignant(EnseignantForm.value);d('Cross click')">
      <div class="row">
        <div class="card  col-md-6"> Informations Générales
          <br>
          <br>
          <fieldset class="form-group">
            <label for="nom">
              Votre Nom
            </label>
            <input type="text" class="form-control" placeholder="Nom" formControlName="nom" [(ngModel)]='session2.nom'/>
          </fieldset>
          <fieldset class="form-group">
            <label for="prenom">
              Votre Prénom
            </label>
            <input type="text" class="form-control" placeholder="Prénom" formControlName="prenom" [(ngModel)]='session2.prenom'/>
          </fieldset>
          <fieldset class="form-group">
            <label for="cin">
              Votre CIN
            </label>
            <input type="text" class="form-control" placeholder="CIN" formControlName="cin" [(ngModel)]='session2.cin' />
          </fieldset>
          <fieldset class="form-group">
            <label for="nom_ent">
              Votre Téléphone
            </label>
            <input type="tel" class="form-control" placeholder="Téléphone" formControlName="tel" [(ngModel)]='session2.tel'/>
          </fieldset>
          <fieldset class="form-group">
            <label for="grade">
              Votre Grade
            </label>
            <div>
              <select class="form-control" name="grade" formControlName="grade" [(ngModel)]='session2.grade'>
                <option value="1">7keya</option>
                <option value="2">7keya2</option>
              </select>
            </div>
          </fieldset>
            
        </div>
        <div class="col-md-6"> Informations Compte
          <br>
          <br>
          <fieldset class="form-group">
            <label for="email">
              Votre Email
            </label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon">@</div>
              <input type="email" class="form-control" placeholder="email" formControlName="email" [(ngModel)]='session2.email'/>
            </div>
          </fieldset>
          <input type="hidden" class="form-control" formControlName="id" [(ngModel)]="session2.id"/>   
          <button class="btn btn-primary" type="submit">Modifier</button>
        </div>
      </div>
    </form>
    <form *ngIf="compte==='entreprise' || compte==='entreprise_N'" [formGroup]="EntrepriseForm" (ngSubmit)="submitEntreprise(EntrepriseForm.value);d('Cross click')">
      <div class="row">
        <div class="card  col-md-4"> Informations Générales
          <br>
          <br>
          <fieldset class="form-group">
            <label for="nom">
              Votre Nom
            </label>
            <input type="text" class="form-control" placeholder="Nom" formControlName="nom" [(ngModel)]='session2.nom'/>
          </fieldset>
          <fieldset class="form-group">
            <label for="prenom">
              Votre Prénom
            </label>
            <input type="text" class="form-control" placeholder="Prénom" formControlName="prenom" [(ngModel)]='session2.prenom'/>
          </fieldset>
          <fieldset class="form-group">
            <label for="cin">
              Votre CIN
            </label>
            <input type="number" class="form-control" placeholder="CIN" formControlName="cin" [(ngModel)]='session2.cin'/>
          </fieldset>
        </div>
        <div class="col-md-4"> Informations Entreprise
          <br>
          <br>
          <fieldset class="form-group">
            <label for="nom_ent">
              Nom d'entreprise
            </label>
            <input type="text" class="form-control" placeholder="Nom Entreprise" formControlName="nomEntreprise" [(ngModel)]='session2.nom_ent'/>
          </fieldset>
          <fieldset class="form-group">
            <label for="nom_ent">
              Téléphone d'entreprise
            </label>
            <input type="tel" class="form-control" placeholder="Téléphone Entreprise" formControlName="telEntreprise" [(ngModel)]='session2.tel_ent' />
          </fieldset>
          <fieldset class="form-group">
            <label for="nom_ent">
              Fax d'entreprise
            </label>
            <input type="tel" class="form-control" placeholder="Fax Entreprise" formControlName="faxEntreprise" [(ngModel)]='session2.fax_ent' />
          </fieldset>
          <fieldset class="form-group">
            <label for="nom_ent">
              Adresse d'entreprise
            </label>
            <div>
              <textarea class="form-control" formControlName="adresseEntreprise" rows="3" [(ngModel)]='session2.adresse_ent'></textarea>
            </div>
          </fieldset>
        </div>
        <div class="col-md-4"> Informations Compte
          <br>
          <br>
          <fieldset class="form-group">
            <label for="email">
              Votre Email
            </label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon">@</div>
              <input type="email" class="form-control" placeholder="email" formControlName="email" [(ngModel)]='session2.email' />
            </div>
          </fieldset>
          <input type="hidden" class="form-control" formControlName="id" [(ngModel)]="session2.id"/>  
              <button class="btn btn-primary" type="submit">Modifier</button>
        </div>
        
      </div>
    </form>
  </div>
  </ng-template>