<div class="wrapper">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-sm-4">
              <figure>
                <div>
                  <div class="avatar-status bg-red">
                    <img src="assets/images/marwen.jpg" style=" height:128px;width:auto; max-width:128px;" alt="" class="rounded-circle">
                  </div>
                </div>
              </figure>
            </div>
            <div class="col">
              <h4 class="ma-0">
                <span class="fw-400">{{etudiant.prenom}}</span>
                <b>{{etudiant.nom}}</b>
              </h4>
              <br>
              <div class="row">
                <div class="mr-3">
                  <div class="widget-icon rounded-circle bg-red text-white icon icon-basic-mail"></div>
                </div>
                <div class="mr-3">
                  <div class="ff-headers text-color">E-mail</div>
                  <div>{{etudiant.email}}</div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="mr-3">
                  <div class="widget-icon rounded-circle bg-cyan text-white icon icon-basic-calendar"></div>
                </div>
                <div class="mr-3">
                  <div class="ff-headers text-color">Date de naissance</div>
                  <div>{{etudiant.date_ness}}</div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="mr-3">
                  <div class="widget-icon rounded-circle bg-green text-white icon icon-basic-postcard"></div>
                </div>
                <div class="mr-3">
                  <div class="ff-headers text-color">Numéro CIN</div>
                  <div>{{etudiant.cin}}</div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="mr-3">
                  <div class="widget-icon rounded-circle bg-pink text-white icon  icon-basic-smartphone"></div>
                </div>
                <div class="mr-3">
                  <div class="ff-headers text-color">Numéro de téléphone</div>
                  <div>{{etudiant.tel}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <ngb-tabset class="card-tab">
          <ngb-tab title="Informations Etudes">
            <ng-template ngbTabContent>
              <div>
                <div class="card">
                  <div class="card-header">
                    <div class="card-header-text">
                      <div class="row">
                        <div class="mr-3">
                          <div class="widget-icon rounded-circle bg-green text-white icon icon-basic-book-pen"></div>
                        </div>
                        <div class="mr-3">
                          <div class="ff-headers text-color">Cycle d'étude</div>
                          <div style="color: black;">Ingénieur</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <div class="card-header-text">
                      <div class="row">
                        <div class="mr-3">
                          <div class="widget-icon rounded-circle bg-blue text-white icon icon-basic-gear"></div>
                        </div>
                        <div class="mr-3">
                          <div class="ff-headers text-color">Niveau d'étude</div>
                          <div style="color: black;">2ème</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <div class="card-header-text">
                      <div class="row">
                        <div class="mr-3">
                          <div class="widget-icon rounded-circle bg-red text-white icon icon-basic-postcard"></div>
                        </div>
                        <div class="mr-3">
                          <div class="ff-headers text-color">Spècilatité</div>
                          <div style="color: black;">Programmation, Web et Multimédia </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        <!--  <ngb-tab title="Informations Entreprise">
            <ng-template ngbTabContent>
              <div>
                <div class="card">
                  <div class="card-header">
                    <div class="card-header-text">
                      <div class="row">
                        <div class="mr-3">
                          <div class="widget-icon rounded-circle bg-green text-white icon icon-basic-flag2"></div>
                        </div>
                        <div class="mr-3">
                          <div class="ff-headers text-color">Nom d'entreprise</div>
                          <div style="color: black;">W Corp.</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <div class="card-header-text">
                      <div class="row">
                        <div class="mr-3">
                          <div class="widget-icon rounded-circle bg-blue text-white icon icon-basic-smartphone"></div>
                        </div>
                        <div class="mr-3">
                          <div class="ff-headers text-color">Téléphone</div>
                          <div style="color: black;">+216 74 254 613</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <div class="card-header-text">
                      <div class="row">
                        <div class="mr-3">
                          <div class="widget-icon rounded-circle bg-red text-white icon icon-basic-mail"></div>
                        </div>
                        <div class="mr-3">
                          <div class="ff-headers text-color">E-mail</div>
                          <div style="color: black;">w.corp@gmail.com</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <div class="card-header-text">
                      <div class="row">
                        <div class="mr-3">
                          <div class="widget-icon rounded-circle bg-pink text-white icon icon-basic-geolocalize-05"></div>
                        </div>
                        <div class="mr-3">
                          <div class="ff-headers text-color">Adresse</div>
                          <div style="color: black;">Route Tunis Km 6 Sakiet Ezzit, Sfax</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>-->
          <ngb-tab title="Paramètres de compte">
            <ng-template ngbTabContent>
              <div class="card">
                <div class="card-block">
                  <form [formGroup]="modif_pass" (ngSubmit)="onModif_pass(modif_pass.value)">
                    <div class="row mb-2">
                      <div class="col">
                        <div class="d-flex justify-content-start">
                          <span class="mr-auto">Modifier mot de passe</span>
                          <strong>
                            <input type="password" class="form-control" placeholder="********" required formControlName="pass" />
                          </strong>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col">
                        <div class="d-flex justify-content-start">
                          <span class="mr-auto">Confirmer mot de passe</span>
                          <strong>
                            <input type="password" class="form-control" placeholder="********" required formControlName="comf_pass" />
                          </strong>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row mb-2">
                      <div class="col">
                        <div class="d-flex justify-content-start">
                          <strong>
                            <button class="btn btn-danger" type="submit">Modifier mot de passe</button>
                          </strong>
                        </div>
                      </div>
                    </div>
                  </form>
                  <div class="row mb-2">
                    <div class="col">
                      <div class="d-flex justify-content-start">
                        <button class="btn btn-info" (click)="open(content)">Modifier Informations compte</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h6 class="modal-title text-uppercase">Informations Compte</h6>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="EtudiantForm" (ngSubmit)="submitEtudiant(EtudiantForm.value)">
            <div class="row">
              <div class="card  col-md-4"> Informations Générales
                <br>
                <br>
                <fieldset class="form-group">
                  <label for="nom">
                    Votre Nom
                  </label>
                  <input type="text" class="form-control" placeholder="Nom" required formControlName="nom" value="{{etudiant.nom}}" />
                </fieldset>
                <fieldset class="form-group">
                  <label for="prenom">
                    Votre Prénom
                  </label>
                  <input type="text" class="form-control" placeholder="Prénom" required formControlName="prenom" value="{{etudiant.prenom}}"/>
                </fieldset>
                <fieldset class="form-group">
                  <label for="cin">
                    Votre CIN
                  </label>
                  <input type="text" class="form-control" placeholder="CIN" required formControlName="cin" value="{{etudiant.cin}}" />
                </fieldset>
                <fieldset class="form-group">
                  <label for="date_naiss">
                    Votre Date de Naissance
                  </label>
                  <div>
                    <div>
                      <input class="form-control" type="date" value="{{etudiant.date_ness}}" id="example-date-input" required formControlName="dateNess">
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="col-md-4"> Informations Etudes
                <br>
                <fieldset class="form-group">
                  <label for="cy_etud">
                    Votre cycle d'études
                  </label>
                  <div>
                    <select class="form-control" name="cy_etud" required formControlName="cy_etud" value="{{etudiant.cycle_etude}}">
                      <option disabled>---- Licence ----</option>
                      <option value="Licence Appliquée Technologie Multimédia et Web">Licence Appliquée Technologie Multimédia et Web</option>
                      <option value="Licence Fondamentale Informatique et Multimédia">Licence Fondamentale Informatique et Multimédia</option>
                      <option disabled>---- Master ----</option>
                      <option value="Master de Recherche">Master de Recherche</option>
                      <option disabled>---- Ingénieur ----</option>
                      <option value="ingénieur">ingénieur</option>
                    </select>
                  </div>
                </fieldset>
                <fieldset class="form-group">
                  <label for="niv_etud">
                    Votre Niveau d'études
                  </label>
                  <div>
                    <select class="form-control" name="niv_etud" required formControlName="niv_etud" value="{{etudiant.niveau_etude}}">
                      <option disabled>---- Niveau d'études ----</option>
                      <option value="1">1</option>
                      <option value="2eme">2</option>
                      <option value="3">3</option>
                    </select>
                  </div>
                </fieldset>
              </div>
              <div class="col-md-4"> Informations Compte
                <br>
                <br>
                <fieldset class="form-group">
                  <label for="email">
                    Votre Email
                  </label>
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon">@</div>
                    <input type="email" class="form-control" placeholder="email" required formControlName="email" value="{{etudiant.email}}"/>
                  </div>
                </fieldset>
                <button class="btn btn-primary" type="submit">Modifier</button>
              </div>
            </div>
          </form>
    </div>
  </ng-template>