<div class="wrapper">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-block">
          <div class="row">
              <div class="col-sm-4">
                  <figure>
                    <div>
                      <div class="avatar-status bg-red">
                        <img src="assets/images/marwen.jpg" style=" height:128px;width:auto; max-width:128px;" alt="" class="rounded-circle">
                      </div>
                    </div>
                  </figure>
                </div>
            <div class="col">
              <h4 class="ma-0"><span class="fw-400">Marwen</span> <b>KALLEL</b></h4>
              <br>
              <div class="row">
                  <div class="mr-3">
                      <div class="widget-icon rounded-circle bg-red text-white icon icon-basic-mail"></div>
                    </div>
                  <div class="mr-3">
                      <div class="ff-headers text-color">E-mail</div>
                      <div>marouankallel@gmail.com</div>
                  </div>
              </div>
              <br>
              <div class="row">
                  <div class="mr-3">
                      <div class="widget-icon rounded-circle bg-cyan text-white icon icon-basic-calendar"></div>
                    </div>
                  <div class="mr-3">
                      <div class="ff-headers text-color">Date de naissance</div>
                      <div>13/06/1994</div>
                  </div>
              </div>
              <br>
              <div class="row">
                  <div class="mr-3">
                      <div class="widget-icon rounded-circle bg-green text-white icon icon-basic-postcard"></div>
                    </div>
                  <div class="mr-3">
                      <div class="ff-headers text-color">Numéro CIN</div>
                      <div>11058679</div>
                  </div>
              </div>
              <br>
              <div class="row">
                  <div class="mr-3">
                      <div class="widget-icon rounded-circle bg-blue text-white icon icon-basic-postcard"></div>
                    </div>
                  <div class="mr-3">
                      <div class="ff-headers text-color">Numéro d'inscription</div>
                      <div>16000032</div>
                  </div>
              </div>
              <br>
              <div class="row">
                  <div class="mr-3">
                      <div class="widget-icon rounded-circle bg-pink text-white icon  icon-basic-smartphone"></div>
                    </div>
                  <div class="mr-3">
                      <div class="ff-headers text-color">Numéro de téléphone</div>
                      <div>55 679 511</div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="row text-center">
            <div class="col">
              
            </div>
            <div class="col">
              
            </div>
            <div class="col"> 
            </div>
          </div>
        </div>
        <div class="card-block">
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <ngb-tabset class="card-tab">
          <ngb-tab title="Informations Etudes">
            <ng-template ngbTabContent>
              <div>
                <div class="card">
                  <div class="card-header">
                    <div class="card-header-text">
                      <div class="row">
                          <div class="mr-3">
                              <div class="widget-icon rounded-circle bg-blue text-white icon icon-basic-postcard"></div>
                            </div>
                          <div class="mr-3">
                              <div class="ff-headers text-color">Cycle d'étude</div>
                              <div style="color: black;">Ingénieur</div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                    <div class="card-header">
                      <div class="card-header-text">
                        <div class="row">
                            <div class="mr-3">
                                <div class="widget-icon rounded-circle bg-blue text-white icon icon-basic-postcard"></div>
                              </div>
                            <div class="mr-3">
                                <div class="ff-headers text-color">Niveau d'étude</div>
                                <div style="color: black;">2ème</div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="card">
                    <div class="card-header">
                      <div class="card-header-text">
                        <div class="row">
                            <div class="mr-3">
                                <div class="widget-icon rounded-circle bg-blue text-white icon icon-basic-postcard"></div>
                              </div>
                            <div class="mr-3">
                                <div class="ff-headers text-color">Spècilatité</div>
                                <div style="color: black;">Programmation, Web et Multimédia </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>Informations Compte</ng-template>
            <ng-template ngbTabContent>
              <div class="card">
                <div class="card-block">
                  <h6 class="text-uppercase mt-0 mb-3">Basic Information</h6>
                  
                  <div class="row mb-2">
                      <div class="col">       
                        <div class="d-flex justify-content-start">
                          <span class="mr-auto">Email</span>
                          <strong><input type="email" class="form-control" placeholder="****@*.*" required formControlName="email" /></strong>
                        </div>
                      </div>
                      
                    </div>

                  <div class="row mb-2">
                    <div class="col">
                      <div class="d-flex justify-content-start">   
                        <span class="mr-auto">Modifier mot de passe</span>
                        <strong><input type="password" class="form-control" placeholder="********" required formControlName="password" /></strong>
                      </div>
                    </div>
                   
                  </div>

                  <div class="row mb-2">
                    <div class="col">       
                      <div class="d-flex justify-content-start">
                        <span class="mr-auto">Confirmer mot de passe</span>
                        <strong><input type="password" class="form-control" placeholder="********" required formControlName="password" /></strong>
                      </div>
                    </div>
                    
                  </div>

                  <button class="btn btn-primary" type="submit" >Modifier</button>
                  <a class="btn btn-outline-primary btn-link" [routerLink]="['/authentication/signup']"></a>
                 
                </div>
              </div>
            </ng-template>
          </ngb-tab>
         
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>