<div class="card">
  <div class="card-header"></div>
  <div class="col-md-4">
    <input *ngIf="config.filtering" placeholder="Filter tout les colonnes" [ngTableFiltering]="config.filtering" class="form-control"
      (tableChanged)="onChangeTable(config)" />
  </div>
<br>
<ng-table [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns">
</ng-table>
<!--<button type="button" class="btn btn-danger btn-icon mr-1 mb-1" mwlConfirmationPopover message="Etes-vous sûr de vouloir refuser cette entreprise?" confirmText="Oui"
cancelText="Non" placement="top"  (confirm)="refEntreprise(user.id)">
  <i class="icon icon-basic-ban"></i>
  <span>Supprimer</span>
</button>-->
</div>
            
         